.p-5 {
    background-image: url(../img/file.jpg.jpg) !important;
    background-size: cover;
}

.navbar-brand{
    font-size: 20pt;
}

.nav-link{
    font-weight: 500;
}

.container-1{
padding-top: 300px;
}

.display-3{
    font-size: 60pt;
    font-weight: bold;
}

.section-header {
    font-weight: bold;
    color: black;
    }

.card {
    border: none;
    box-shadow: 0 1rem 3rem rgba(145, 145, 145, 0.175) !important;
}

.blogCard img{
    height : 220px;
}

.about {
    padding-bottom: 70px;
}
    
.about__pic {
    margin-bottom: 35px;
}
    
.about__pic img {
    width: 700px;
    min-width: 100%;
}
    
.about__item {
    margin-bottom: 30px;
}
    
.about__item h4 {
    font-weight: 700;
    margin-bottom: 10px;
}
    
.about__item p {
    margin-bottom: 0;
}

.team {
	padding-bottom: 70px;
}

.team__item {
	margin-bottom: 30px;
}

.team__item img {
	min-width: 100%;
	margin-bottom: 25px;
}

.team__item h4 {
	color: #111111;
	font-weight: 700;
	margin-bottom: 8px;
}

.team__item span {
	font-size: 15px;
	display: block;
	color: #b7b7b7;
}

#popup {
    position: fixed;
    z-index: 99;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.table_popup {
    background-color: aliceblue;
    width: 400px;
    position: fixed;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.overlay {
    width: 100%;
    height: 100%;
    z-index: 998;
    opacity: .5;
    background-color: black;
}

.table_atas {
    background-color: gold;
}

.zone {
    cursor:pointer;
    color:#FFF;
    font-size:2em;
    border-radius:4px;
    border:1px solid #bbb;
    transition: all 0.3s linear;
}

.zone:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

.box:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}

.grid-wrapper{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.box a img{
    width: 80%;
}

.box{
    background-color: #444;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
}

.blue{
    background: #7abcff;
    background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* IE10+ */
    background: linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C */
}