body {
    background-image: url(../img/file.jpg.jpg) !important;
    background-size: cover;
} 
.container{
    
}
.container-1{
padding-top: 300px;
}
.display-3{
    font-size: 60pt;
    font-weight: bold;
}
